.underline_animate {
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

/*.underline_animate:focus,*/
/*.underline_animate:hover {*/
/*    color: #fff;*/
/*}*/

.underline_animate_hover:focus .underline_animate:after,
.underline_animate_hover:hover .underline_animate:after {
    width: 100%;
    left: 0;
}

.underline_animate:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}